.contenedor{
	border-style:solid;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	width: 900px;
	height: 900px;
	
}

.item{
	background-color: #ccc;
	width: 300px;
	height: 300px;	
	font-size: 30px;
}

#caja1{
    background-color: red;	
}
#caja2{
    background-color: blue;
}
#caja3{
    background-color: green;
}